.home-page {
    position: absolute;
    width: 100%;
    height: 156px;
    top: 50%;
    margin-top: -78px;
    text-align: center;
    perspective: 200px;
}
.home-page .prajna-text {
    line-height: 42px;
    font-size: 36px;
    font-weight: 200;
}
.home-page .prajna-text-prev {
    line-height: 42px;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 12px;
    transform-origin: bottom center 0;
    transform: rotateX(18deg);
    -ms-transform: rotateX(18deg);
    -moz-transform: rotateX(18deg);
    -webkit-transform: rotateX(18deg);
    -0-transform: rotateX(18deg);
}
.home-page .prajna-text-next {
    margin-top: 12px;
    line-height: 42px;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 12px;
    transform-origin: top center 0;
    transform: rotateX(-18deg);
    -ms-transform: rotateX(-18deg);
    -moz-transform: rotateX(-18deg);
    -webkit-transform: rotateX(-18deg);
    -0-transform: rotateX(-18deg);
}
