<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="description" content="In browser javascript application analysing and supervising tool"/>
    <meta name="keywords" content="Prajna javascript browser sdk supervising analyzer"/>
    <meta name="google" content="notranslate" />
    <meta name="robots" content="all"/>
    <title>Prajna</title>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>
